# iCEBreaker v1.0e 12 MHz oscillator
set_io i_clk 35

# PMOD 1A: I2S output
# CS4344 legacy wiring
# Header pins: 1=MCLK, 2=LRCLK, 3=BCLK, 4=SDATA
#set_io MCLK  4
#set_io LRCLK 2
#set_io BLCK   47
#set_io SDATA  45

# PCM5102 wiring: 1=MCLK (held low), 2=BCLK, 3=SDATA, 4=LRCLK
set_io MCLK  4
set_io BLCK   2
set_io SDATA  47
set_io LRCLK 45


# Set HCMS-2913 pmod 

set_io HCMS_NCS_O 27
set_io HCMS_DATA_O 25
set_io HCMS_REGSEL_O 21
set_io HCMS_CLOCK_O 19
set_io HCMS_RESET_O 26



# PMOD 1B: I2S microphone module
# Header pins: 1=SD (mic to FPGA), 2=SCK/BCLK, 3=WS/LRCLK, 4=debug
set_io MIC_LRCLK 42
set_io MIC_SD_IN 32
set_io MIC_BCLK  28

#set_io MIC_LRCLK 43
#set_io MIC_SD_IN 34
#set_io MIC_BCLK  31



# Onboard active-low status LEDs
set_io LEDR_N 11
set_io LEDG_N 37